body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: rgb(198,75,75);
    color: white;
    text-align: center;
    padding: 10px 0 10px 0; /* top right bottom left */
    margin: 0;
}

.add-form{
    margin: 20px 200px 20px 200px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

#txt-task{
    width: 60%;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid rgb(195,195,195);
    font-size: 18px;
}

.btn{
    background: #ffffff;
    color: rgb(212,67,67);
    border-radius: 10px;
    border: 1px solid rgb(165,165,165);
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

.btn:hover{
    background-color: rgb(212, 67, 67);
    color: white;
}

ul li{
    width: 800px;
    list-style-type: none;
    background-color: #f1f1f1;
    color: #000000;
    margin: 20px;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px;
}

ul li:hover{
    background-color: #dddddd;
}